body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
  font: 400 16px/2 Bitter,"Apple SD Gothic Neo",AppleGothic,NanumBarunGothic,"Malgun Gothic",Dotum,sans-serif;
}
